<!DOCTYPE html>
<html lang="en">

<head>
    <script src="angular.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="routes/route.js"></script>
    <script src="routes/notes/SectionController.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="sectionsApp" ng-controller="SectionController">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">Notes tutorial app</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h2>
            <span class="glyphicon glyphicon-edit"></span>
            Keep your notes in order
        </h2>

        <p>
            A simple application to keep your own notes in order.
        </p>
    </div>
</div>

<div class="container" >

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add your note to {{activeSection}}</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <textarea style="min-width:100%;min-height:200px" class="form-control"
                                  ng-model="text"></textarea>
                    </div>
                    <button ng-click="addNote()" class="btn btn-primary">Post note</button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Notes</div>

                <ul class="list-group">
                    <li class="list-group-item"
                        ng-repeat="note in notes">
                        {{note.text}}
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-md-4">
            <div class="panel-heading">Sections</div>
            <div class="input-group" style="padding-bottom: 20px">
                <input type="text"
                       class="form-control"
                       placeholder="New section name"
                       ng-model="newSection">
                <span class="input-group-btn">
                    <button class="btn btn-default"
                            type="button"
                            ng-click="addSection()">Add
                    </button>
                </span>
            </div>
            <div>
                <input class="form-control" ng-model="sectionsFilter" placeholder="Filter">
            </div>

            <ul class="list-group" dnd-list="sections">
                <li href="#"
                    class="list-group-item"
                    dnd-draggable="section"
                    dnd-moved=""
                    ng-repeat="section in sections | filter: sectionsFilter"
                    ng-click="showSection(section)"
                    ng-class="{active: section.text==activeSection}">
                    {{section.text}}
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>